<div class="article-center">
  <div class="article-header">
    <h2 class="article-title">{{model.title}}</h2>
    <img class="article-photo" src={{model.photo}} alt={{model.title}}>
  </div>
  <div class="article-body">
    <p class="article-author">by {{model.author}}</p>
    <p class="article-body">{{model.body}}</p>
  </div>
</div>
